/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: bold;
  src: url('webfonts/2A962A_0_0.eot');
  src: url('webfonts/2A962A_0_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A962A_0_0.woff') format('woff'), url('webfonts/2A962A_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: normal;
  src: url('webfonts/2A962A_1_0.eot');
  src: url('webfonts/2A962A_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A962A_1_0.woff') format('woff'), url('webfonts/2A962A_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('webfonts/2A962A_2_0.eot');
  src: url('webfonts/2A962A_2_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2A962A_2_0.woff') format('woff'), url('webfonts/2A962A_2_0.ttf') format('truetype');
}
html,
body {
  background-color: rgb(167, 24, 26);
  text: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
}
#body-wrap {
  position: relative;
  min-height: 100%;
}
#body-wrap #main {
  padding-bottom: 100px;
  border-top: 1px solid transparent;
  padding-left: 250px;
  padding-right: 48px;
  position: relative;
}
#body-wrap #main #topnav {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 30px 30px;
  top: 0;
  left: 0;
  line-height: 1em;
  text-align: left;
}
#body-wrap #main #topnav.fixed {
  position: fixed;
}
#body-wrap #main #topnav h1 {
  margin: 0 0 1em 0;
}
#body-wrap #main #topnav h1 a {
  display: block;
  width: 160px;
  padding-top: 200px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0px;
  color: white;
  text-decoration: none;
}
#body-wrap #main #topnav .head {
  text-transform: uppercase;
  margin-bottom: 1.5em;
}
#body-wrap #main #topnav li a {
  font-size: 14px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, serif;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 22px;
}
#body-wrap #main #topnav li a:hover,
#body-wrap #main #topnav li a.active {
  font-family: "HelveticaNeue", Helvetica, Arial, serif;
  font-weight: bold;
  position: relative;
  top: -1px;
  left: -1px;
  font-size: 14px;
}
#body-wrap #main #topnav ul {
  padding: 0 0 0 26px;
  margin: 0;
  list-style-type: none;
  display: none;
}
#body-wrap #main #topnav ul li a {
  font-size: 14px;
  line-height: 16px;
}
#body-wrap #main #topnav ul li a:hover {
  font-family: "HelveticaNeue", Helvetica, Arial, serif;
  font-weight: bold;
  position: relative;
  top: -1px;
  left: -1px;
  font-size: 14px;
}

#body-wrap #footer {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: left;
  font-size: 13px;
}
#body-wrap #footer span {
  padding: 16px 25px;
}
#body-wrap.home #main #content {
  /*padding-top: 80px;*/

  /*
    img{
      width: 500px;
      margin: 0 auto;
      display: block;
      position: relative;
      left: -50px;
    }
    */

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}




.biography {
  margin-top: 20%;

}

.content {
  padding-top: 10%;
}

.biography .text {
  color: white;
  padding-left: 10%;
  line-height: 1.5;
  margin-top: 10px;
}

.biography .image-wrapper{
  text-align: center;
}

.biography img {
  width: 50%;
  margin-left: 20px;
}

.videos {
  max-height: 800px;
  max-width: 1100px;
}

.index {
  text: uppercase;
}

.footer {
  margin-top: 90%;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */

    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */

  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}