<ul id="topnav">
  <h1><a href="{{site.baseurl}}/music">J-Slow</a></h1>

  <li><a {% if page.title == "Biography" %} class="active" {%endif%} href="{{site.baseurl}}/biography">Biography</a></li>
  <li><a {% if page.title == "Music" %} class="active" {%endif%} class="music" href="{{site.baseurl}}/music">Music</a></li>
  <li><a {% if page.title == "Videos" %} class="active" {%endif%} class="videos" href="{{site.baseurl}}/videos">Videos</a></li>
  <li>
    <a href="#">Connect</a>

    <ul>
      <li><a href="http://twitter.com/JeuneSlow" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/JeuneSlow" target="_blank">Facebook</a></li>
      <li><a href="http://soundcloud.com/j-slow" target="_blank">Soundcloud</a></li>
    </ul>
  </li>
</ul>