<div class="content" class="clearfix">
  <div class="index">
    <img src="ep-cover.jpeg" class="ep-cover"/>

    <div  class="text">
      <h2> New EP available now </h2>
      <form id="email-form" class="email">
        <div>  Entrer votre email pour telecharger  | Fill in your email to stream </div>
        <input type="email" name="email"  />
      </form>
    </div>
  <div id="hidden-ep-link">
  </div>
</div>

<script>
  var request
  $("#email-form").submit(function(event){
    // Abort any pending request
    if (request) {
      request.abort();
    }
    // setup some local variables
    var $form = $(this);

    // Let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");

    // Serialize the data in the form
    var serializedData = $form.serialize();
    // Let's disable the inputs for the duration of the Ajax request.
    // Note: we disable elements AFTER the form data has been serialized.
    // Disabled form elements will not be serialized.
    $inputs.prop("disabled", true);

    // Fire off the request to /form.php
    request = $.ajax({
      url: "https://script.google.com/macros/s/AKfycby8K72QJAJOy1npLZhffyWgk08qzpR2dm-U741zgIqR9c6NePg/exec",
      type: "post",
      data: serializedData
    });

    // Callback handler that will be called on success
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
          "The following error occurred: "+
          textStatus, errorThrown
          );
      });

    // Callback handler that will be called regardless
    // if the request failed or succeeded
    request.always(function () {
        // Reenable the inputs
        $inputs.prop("disabled", false);
      });

    request.success(function(r){
      $form.hide();
      var iframe = document.createElement('iframe');
      iframe.src = "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/217191694%3Fsecret_token%3Ds-wmtv4&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false";
      iframe.width = "100%"
      iframe.height = "450"
      document.getElementById("hidden-ep-link").appendChild(iframe);
    });

    // Prevent default posting of form


    event.preventDefault();
  });

</script>