<div class="content" class="clearfix">
  <div class="index">
    <img src="onpc-ep.jpg" class="ep-cover"/>

    <div  class="text">
      <h2> New EP available now </h2>
      <form id="email-form" class="email">
        <div>  Entrer votre email pour telecharger  | Fill in your email to download </div>
        <input type="email" name="email"  />
      </form>
    </div>
  <div id="hidden-ep-link">
    <div>Download Here: </div>
    <a href="http://www.mediafire.com/download/0xm5p9ihyb2dqfb/Cash_Mire_EP.zip" target="_blank">Cash Mire Ep</a>
  </div>
</div>


<div id="lightbox"> <a href="#" class="close" onclick="return closeLightbox()">X</a>
  <div class="popup"> <a href="https://music.apple.com/fr/album/onpc-ep/1473958294" target="_blank"><img src="onpc-ep.jpg" width="563" height="559" class="cover"  /></a>
    <div class="text">
      <h1>NOUVEL EP DISPONIBLE</h1>
      <a href="https://music.apple.com/fr/album/onpc-ep/1473958294" target="_blank" title="ONPC EP on iTunes"><img src="http://static.tumblr.com/wvzujvn/UAlo1mtso/btn-itunes.png" width="151" height="54" class="button"  alt="ONPC EP on iTunes" /></a>
    </div>
  </div>
</div>


<script>
  $("#hidden-ep-link").hide();
  var request
  $("#email-form").submit(function(event){
    // Abort any pending request
    $("#hidden-ep-link").show();
    if (request) {
      request.abort();
    }
    // setup some local variables
    var $form = $(this);
    $form.hide();
    // Let's select and cache all the fields
    var $inputs = $form.find("input, select, button, textarea");

    // Serialize the data in the form
    var serializedData = $form.serialize();
    // Let's disable the inputs for the duration of the Ajax request.
    // Note: we disable elements AFTER the form data has been serialized.
    // Disabled form elements will not be serialized.
    $inputs.prop("disabled", true);

    // Fire off the request to /form.php
    request = $.ajax({
      url: "https://script.google.com/macros/s/AKfycby8K72QJAJOy1npLZhffyWgk08qzpR2dm-U741zgIqR9c6NePg/exec",
      type: "post",
      data: serializedData
    });

    // Callback handler that will be called on success
    request.fail(function (jqXHR, textStatus, errorThrown){
        // Log the error to the console
        console.error(
          "The following error occurred: "+
          textStatus, errorThrown
          );
      });

    // Callback handler that will be called regardless
    // if the request failed or succeeded
    request.always(function () {
        // Reenable the inputs
        $inputs.prop("disabled", false);
      });

    request.success(function(r){
      $form.hide();
    });

    // Prevent default posting of form


    event.preventDefault();
  });

</script>


<script>
  function openLightbox() {
    if(lightbox.className.indexOf('open') == -1) {
     lightbox.className += ' open';
    }
    return false;
  }
  function closeLightbox() {
    if(lightbox.className.indexOf('open') > -1) {
     lightbox.className = lightbox.className.replace(/ ?open/, '');
   }
   return false;
  }
    var lightbox = document.querySelector('#lightbox');
    openLightbox();
</script>